h5py
joblib
nibabel
numpy
Pillow
scipy
scikit-learn
torch
torchvision
tqdm
sphinx-rtd-theme
pyyaml
torchextractor
ftfy 
regex 
tqdm
clip @ git+https://github.com/openai/CLIP.git

# memory encoding model
yacs==0.1.8
yacs-stubgen==0.3.0
python-dotenv==0.21.1
einops==0.6.0
timm==0.9.2